/* table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
} */


table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 500;
    color: white;
    background: #2D5661;
}

th,
td {
    border: 2px solid white;
    text-align: left;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {

    /* Adjust styles for phones */
    th,
    td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    th {
        text-align: center;
    }
}